@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }

  li {
    @apply cursor-pointer
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white
  }
}

/* globals.css */

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 2px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

/* Light mode styles */
:root {
  --scrollbar-bg: #e0e0e0;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
}

/* Dark mode styles */
.dark {
  --scrollbar-bg: #2c2c2c;
  --scrollbar-thumb: #666;
  --scrollbar-thumb-hover: #444;
}
